# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
beerboard/dist
beerboard/tmp
beerboard/out-tsc

# dependencies
beerboard/node_modules

# IDEs and editors
beerboard/.idea
beerboard/.project
beerboard/.classpath
beerboard/.c9/
beerboard/*.launch
beerboard/.settings/
beerboard/*.sublime-workspace

# IDE - VSCode
beerboard/.vscode/*
beerboard/!.vscode/settings.json
beerboard/!.vscode/tasks.json
beerboard/!.vscode/launch.json
beerboard/!.vscode/extensions.json

# misc
beerboard/.sass-cache
beerboard/connect.lock
beerboard/coverage
beerboard/libpeerconnection.log
beerboard/npm-debug.log
beerboard/testem.log
beerboard/typings

# e2e
beerboard/e2e/*.js
beerboard/e2e/*.map

# System Files
beerboard/.DS_Store
beerboard/Thumbs.db

# beerboard.API project
beerboard.API/packages
beerboard.API/.vs
beerboard.API/beerboard.API/bin
beerboard.API/beerboard.API/obj